<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-size-3">
                Database
            </h1>
            <h2 class="subtitle  is-size-6"> <br> </h2>
        </div>
    </div>
</section>
<div class="container">
    <img src="assets/database.png" alt="">
    <div class="columns">
        <div class="column">
            <hr>
            <p class="is-size-3"> • Mssql</p>
            <p class="is-size-3"> • Running in docker </p>
        </div>
        <div class="column">
            <hr>
            <p class="is-size-3"> • Created via Entity framework</p>
            <!-- <p class="is-size-3"> • </p> -->
        </div>
    </div>
</div>
