<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-size-3">
                <br>
            </h1>
            <h2 class="subtitle  is-size-6"> <br> </h2>
        </div>
    </div>
</section>
<br>
<div class="container">
    <h1 class="title is-size-3">
        Backend Api
    </h1>
</div>
<div class="container">
    <div class="columns">
        <div class="column">
            <a class="is-size-4" href="https://localhost:5001/swagger">• Swagger</a><br>
            <a class="is-size-4" href="https://github.com/marnyg/inmeta-back">• Git repo</a>
        </div>
        <div class="column">
            <p class="is-size-4"> • Dotnet core 5.0</p>
            <p class="is-size-4"> • Entity framework</p>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <h1 class="title is-size-3">
        Frontend Application
    </h1>
</div>
<div class="container">
    <div class="columns">
        <div class="column">
            <a class="is-size-4" href="https://github.com/marnyg/inmeta-front">• Git repo</a>
        </div>
        <div class="column">
            <p class="is-size-4"> • Angular</p>
            <p class="is-size-4"> • Typescript</p>
        </div>
    </div>
</div>

<hr>
<div class="container">
    <h1 class="title is-size-3">
        Possible improvements
    </h1>
</div>
<div class="container">
    <div class="columns">
        <div class="column">
            <div class="is-size-4"> • Add more impute for creating new
                <p class="is-size-5"> - Customers </p>
                <p class="is-size-5"> - Addresses </p>
                <p class="is-size-5"> - ServiceTypes </p>
            </div>
        </div>
        <div class="column">
            <p class="is-size-4"> • Unit Tests</p>
            <p class="is-size-4"> • Build Pipeline</p>
            <p class="is-size-4"> • Host online for this demo</p>
        </div>
    </div>
</div>
